body{
    margin: 0  ;
    text-justify: unset;
}
h1{
    font-size: 50px;
}
.name{
    font-size: 50 px;
    color: orange;
    font-family: 'Courgette', cursive;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img {
width: 100%;
}
 .top_bannar{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    
 }
 section{
    height: 500px;
    padding-bottom: 150 px;
 }
div{
    height: 500px;
    width: 300px;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding:10px 20px;
    border-radius:10px;
    color: white;

}
.middle-bannar{
    width: fit-content;
    padding-top: 50px;
    background-image: url(BG_right.png);
    background-repeat: no-repeat;
    background-position: right;
}
 
.ex-sec{
    
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
    
.footer{
    text-align: center;
    margin-top: auto;
    padding-top: 15 px;
}